[2020-05-28 22:51] alexyakunin opened #3 "Rewrite AsyncLockSet"
Its current impl. "works" just because there are no robust tests:
- It uses Dictionary<...> inside AsyncLocal - I somehow decided it's fine, but obviously it's not (what's inside AsyncLocal isn't automatically thread-safe).
- There are no tests for it

Recently I rewrote regular AsyncLock (+ added tests), and it makes sense to either try implementing AsyncLockSet on top of it (con: potentially man

[2020-06-03 04:29] alexyakunin opened #4 "Get rid of duplicate messages in Publisher-Replica comm. channel"
Currently there are no checks for duplicate / repetitive messages & they are truly sent. On the other hand, that's the reason I introduced LTag (~ ETag in web) in IComputed, i.e. there is a good way to do this: just track the most recently sent (LTag, IsConsistent) pair & send something like "same state as you saw it last time" in case it's the same.

[2020-06-04 10:01] alexyakunin opened #5 "Fix SafeJsonSerializer"
https://github.com/servicetitan/Stl/blob/master/src/Stl/Serialization/SafeJsonNetSerializer.cs

Currently it "solves" two problems:
1) Safe denationalization - the Verifier delegate is used on deserialization to tell if the root type is fine to deserialize, and this piece is totally ok to keep
2) But overall, it doesn't allow to serialize everything b/c it serializes only the top level type name,

[2020-06-06 09:04] alexyakunin opened #6 "Switch every time-related piece of logic in Stl.Fusion to Stl.Time.IClock"
By obvious reasons :) There aren't that many pieces, searching for DateTime.Now / UtcNow, Task.Delay & "new CancellationTokenSource" should help to find ~ everything.

[2020-06-07 10:06] #5 closed, assigned to nobody

[2020-06-30 07:52] alexyakunin opened #7 "Investigate memory leak in Blazor apps"
Not sure if it's related to Stl.Fusion itself, but our DevPortal clearly shows it's there with RandomModelProvider.

[2020-07-02 07:40] #3 closed, assigned to nobody

[2020-07-02 07:56] alexyakunin opened #8 "Add custom exception types"
This is a "meta issue": currently I mostly throw exceptions of existing exception types from mscorlib. This isn't good in many cases, i.e. adding a few custom types would definitely make it easier to identify certain error scenarios from user code.

On a positive side, I always throw exceptions via Error.* methods, i.e. it's actually pretty easy to identify all the scenarios that would benefit fro

[2020-07-02 08:01] alexyakunin opened #9 "Add step-by-step tutorial"
I'm thinking of the following approach:
* Root-level "tutorial" folder contains numbered sections (p1_simple_computed, p2_[...], etc.)
* Section = a directory with a single file (or maybe N files, if needed) + readme.md
* Launcher = https://github.com/dotnet/try

[2020-07-03 08:34] alexyakunin opened #10 "Make sure exceptions are auto-invalidated after specified timeout"

[2020-07-04 09:35] #10 closed, assigned to nobody

[2020-07-16 20:42] yakunins commented on #9
I guess the easy way for any user is to
1) checkout example's repo (hello world),
2) compile and run it locally in minimal amount of time

[2020-07-19 07:32] alexyakunin opened #32 "Implement "Russian AI""
Or what corresponds to it based on https://medium.com/@alexyakunin/stl-fusion-in-simple-terms-65b1975967ab?source=friends_link&sk=04e73e75a52768cf7c3330744a9b1e38

[2020-07-19 21:40] alexyakunin opened #33 "Improve Purge in ComputedRegistry & ReplicaRegistry"
There is a number of problems:
1. Default capacity should be ~ 100-200 in WASM (it's almost 8K now - I tuned it for server-side scenarios)
2. Use precise counter instead of stochastic counter in WASM (1 core = no point)
3. Use a separate dict + maybe something similar to generations for strong refs. Ideally, strong refs should be replaced to weak ones as quickly as possible & Purge cycles in this

[2020-07-19 21:41] alexyakunin commented on #7
Looks like I figured out what's going on, the underlying issue is reported as #33 ; closing this one.

[2020-07-19 21:41] #7 closed

[2020-07-19 21:42] alexyakunin commented on #6
Closing for now.

[2020-07-19 21:42] #6 closed

[2020-07-20 00:43] alexyakunin opened #34 "Extract Samples to Stl.Fusion.Samples repository & project"

[2020-07-20 00:44] alexyakunin opened #35 "Extract Stl.Plugins, Stl.CommandLine & Stl.Hosting to Stl.Extras"

[2020-07-21 23:53] #32 closed

[2020-07-21 23:53] alexyakunin commented on #32
// The issue was obviously a joke.

[2020-07-28 01:21] alexyakunin commented on #35
Done.

[2020-07-28 01:21] #35 closed

[2020-07-28 01:21] alexyakunin commented on #34
Done.

[2020-07-28 01:21] #34 closed

[2020-08-05 22:43] alexyakunin opened #66 "Default IUpdateDelayer must be registered as scoped service"
Otherwise Blazor Server apps share the same update delayer across all pages.

[2020-08-06 02:26] AlseinX opened #67 "Use SourceGenerator instead of `Castle.DynamicProxy` to create proxy types?"
When a client is published to a platform that does not support `System.Reflection.Emit`, (eg. IL2CPP in Unity, AOT compiled on iOS, futural Blazor based on Mono AOT, or any other AOT scenes.), dynamic proxy will surely not work. Thus static proxy should be used instead in order to cover more scenes. (It also helps a lot in performance.)

.NET 5 introduces a new SourceGenerator as an expanded featu

[2020-08-08 05:50] #4 closed

[2020-08-10 09:56] alexyakunin commented on #67
Yeah, I totally support this - honestly, I use Castle.DynamicProxy solely because I wanted to prototype this faster. I totally understand it negatively impacts the performance + won't work in scenarios you've described.

I am absolutely sure we'll have this at some point, the only question is when. But if someone wants to take on this, I can explain _everything_ you need to implement this.

[2020-08-10 09:56] alexyakunin commented on #67
@AlseinX ^

[2020-08-10 09:59] alexyakunin commented on #67
+ Yeah, I'd try to bet on Source Generators vs other options - e.g. weaving the assembly is nice, but this adds a fair amount of extra time, and since source generators are almost there, I'd rather invest into a modern approach right in the beginning.

[2020-08-10 10:00] #66 closed

[2020-08-10 10:21] alexyakunin opened #71 "Implement ConcurrentTimerSet + RefHolder.Hold / Release on top if it"
Right now ComputedRegistry & ReplicaRegistry take care of KeepAlive too, i.e. they ensure the strong ref is held to the instance for a desirable period. Though this part could be generalized & completely separated as:

[code]

Long story short, to keep an object alive for KeepAlive time (as it's done in e.g. IComputed.Touch method), we add a "timer" with its key to CoarseTimerSet<object> (assuming

[2020-08-10 10:26] alexyakunin commented on #71
Possible impl:
- Each level = ConcurrentDictionary<TKey, Moment>[BucketSize]
- Extra ConcurrentDictionary<TKey, (Moment, int)> points to a level where a specific timer "lives"; any operation runs on this dict first, and if succeeds, it seamlessly proceeds to the level dict.

[2020-08-10 10:32] alexyakunin commented on #71
I.e. as a result, we get timer implementation that has Max(MinDelay, delay/BucketCount) precision. This is usually fine for things like keep alive delays + it should be fairly fast (~ zero alloc. per timer assuming max. timer count is fixed) & scale well with core count.

[2020-08-18 11:17] alexyakunin commented on #71
Implemented more efficiently (with Radix Heap) in this commit: https://github.com/servicetitan/Stl.Fusion/commit/f6cf75ab342c61aa251ba137b48344f58e0b74cc

[2020-08-18 11:18] alexyakunin commented on #71
And in this commit: https://github.com/servicetitan/Stl.Fusion/commit/8dfe389b116c287c450afa5dced178888269d2d0#diff-557e384208e4a49b1f0275a4bc138dcd

[2020-08-18 11:20] #71 closed

[2020-09-18 00:10] alexyakunin commented on #33
Most of these issues were addressed in 0.4.

[2020-09-18 00:10] #33 closed

[2020-10-06 02:25] alexyakunin opened #127 "Add support for binary websocket protocol"
Even though this isn't super critical, this might help with addressing https://stackoverflow.com/questions/57938081/blazor-preview-9-mono-wasm-memory-access-out-of-bounds-max-string-size-for-dotn

[2020-10-06 02:27] alexyakunin commented on #9
Yes, that's exactly how it works, but Tutorial is still needed.

[2020-11-17 10:53] anhaehne opened #178 "Discussion: Allow for invalidation without recomputation"
In real world application we do not control all the data we need to display in our applications and therefore don't know when they have updated. Let's take a 3rd party Api for example.

We could of cause invalidate the data every n minutes but that would trigger a complete recomputation of our user interface (or at least the parts that are effected).

It would be great if we had some kind of mecha

[2020-11-17 16:16] alexyakunin commented on #178
Hi @anhaehne , that's exactly how it works, actually :) Invalidation never means recomputation in Fusion.

[2020-11-17 16:19] alexyakunin commented on #178
But I guess your question is more practical, i.e. you are talking about some real problem you've faced, but probably your assumptions about what Fusion does aren't absolutely correct.

If you're fine with explaining what you want to implement, I'll try to describe the best way to do this + explain what Fusion does in your specific case. Feel free to reach me out on Discord (AY) & PM the link to co

[2020-11-17 16:22] alexyakunin commented on #178
A couple useful links:
- https://github.com/servicetitan/Stl.Fusion.Samples/blob/master/docs/tutorial/Part03.md - check out the part about ILiveState
- https://github.com/servicetitan/Stl.Fusion.Samples/blob/master/docs/tutorial/Part06.md - prob. makes sense to read everything here

[2020-11-17 17:28] anhaehne commented on #178
Lets say i have multiple drop downs in my ui and based on that i aggregate data from multiple source. One of those sources is a WebApi which i don't have control over. The aggregated result then displayed in my application.

So the dependency graph would look something like this:
[code]
So when the controls get changed, the Aggregate-Service fetches the data from the Backend and a 3rd party WebApi

[2020-11-18 05:21] alexyakunin commented on #178
Got it. One way to implement this is:
- Implement a `[ComputeMethod]` that will serve expose external service's data in Fusion style. All it does is hits the external endpoint & returns whatever it gets from it.
- Auto-invalidate the result of this method in T seconds. You can use e.g. `[ComputeService(AutoInvalidateTime = T)]` to achieve that. This will ensure the result of this method "expires"

[2020-11-18 05:25] alexyakunin commented on #178
See e.g. `ScreenshotService` in samples to see how something similar can be done. There is no comparison, but it should be clear how it could be added.

As for the comparison, one of easy ways to implement it is to compare serialized values.

[2020-11-18 05:26] alexyakunin commented on #178
And the last thing: yes, it's a pretty common problem / pattern, so maybe I'll add something to make the implementation of something similar much more straightforward.

[2020-11-18 05:27] alexyakunin commented on #178
@anhaehne See my responses, + if you need some answers ASAP, [our Discord Server](https://discord.gg/EKEwv6d) is really the best option to have them. Just saying :)

[2020-11-18 05:38] alexyakunin commented on #178
@anhaehne just added code sample to the key comment above.

[2020-11-18 05:48] alexyakunin commented on #178
@anhaehne actually, just wrote a ~ complete sample above.

[2020-11-18 05:55] alexyakunin commented on #178
As you imagine, there are many ways to achieve this:
- The code I wrote tackles a scenario where you don't want to periodically hit the external API if no one uses your own endpoint, i.e. it's a sort of "on demand extraction + invalidation".
- But there is another common scenario where you actually want to extract the data ahead of time / recurrently no matter what. And in this case I'd recommend

[2020-11-22 11:45] alexyakunin commented on #9
Done.

[2020-11-22 11:45] #9 closed

[2020-11-23 07:48] anhaehne commented on #178
Thanks for your detailed awnser. I tried to replicate your code into a working program but it is still requesting the WebApi every n seconds.

[code]

It's OK for me if there is no solution right now. I just wanted to start a discussion about the scenario and ask whether this would fit into the framework.

[2020-11-23 11:13] alexyakunin commented on #178
@anhaehne Hi, thanks for the example. The only issue in your code is `a == b` on the last line. I guess it's supposed to be `a != b` :)

I created a small repo w/ this code (maybe will turn it into a console example later) + diff to your logic (the only important change is the last line though): https://github.com/alexyakunin/Stl.Fusion.Misc/commit/2771441fcf40744ec9a84210b32c9c4f8ff25a95#diff-e6e

[2020-11-23 11:16] alexyakunin commented on #178
Check out https://github.com/alexyakunin/Stl.Fusion.Misc/commit/1824d18cb61897d35ca3c0168e151c5bffca56ac - it shows it actually triggers the invalidation when the new output differs from the old one.

[2020-11-23 11:19] alexyakunin commented on #178
@anhaehne one other small thing: `ILiveState` is `IDisposable` - you have to use `using` with it, otherwise task completion subscriptions in its update loop will keep it in RAM indefinitely (and will continue processing the updates too).

[2020-11-24 01:00] devedse opened #186 "Issue: Submitting an object with an ICollection to a service results in 415 error (Only with WebAssembly)"
Hi all,

Today I've been working on building an application based on the Blazor sample. To make everything a bit easier for me, rather then passing individual values I instead pass around full objects from the Frontend to the Backend.

For example in the `Shop.razor` file:
[code]

locals.Current is of type `DbShop`:
[code]

When I execute this code with server side blazor everything runs fine, how

[2020-11-24 01:06] devedse opened #187 "Issue: STL Fussion not able to deal with recursive loops in classes to serialize"
I've been trying to build an app based on Stl.Fusion but I'm running into some issues with serialisation of data objects from Server to Client.

The reason being that my DbClasses contain a recursive loop. E.g.:

[code]

Normally you can configure ASP.NET Core controllers to ignore this by adding the following code:

[code]

However when I do this I run into some issues where STL Fusion makes use

[2020-11-24 12:06] alexyakunin commented on #187
Hi @devedse , it uses JSON.NET as well, and I think this specific option should be easy to change. Here is how you can find every place where Fusion configures something related to JSON:

![image](https://user-images.githubusercontent.com/1673423/100091287-41e45b00-2e09-11eb-8386-2b97c0cf947a.png)

As for why your attempt to change this didn't work, it's because there are at least 4 places where s

[2020-11-24 12:16] alexyakunin commented on #187
Besides that:

1. https://github.com/servicetitan/Stl.Fusion/commit/1919aa8ea67fb9437c82fdd9c2844528fbbf2c3b - all your problems are gone now, + you can change the defaults as you like (just remember to do this before calling any Fusion stuff).

2. Consider using `[JsonIgnore]` or a different type to send to the client. Typically, people map DB record/entity type to something else (model type) bef

[2020-11-24 12:18] alexyakunin commented on #187
Please LMK if it's ok to close this issue :)

[2020-11-24 12:28] alexyakunin commented on #186
Hi, it works exactly as you "prescribe" in RestEase client interface plus controller. Here is how you switch one of parameters to body payload:

![image](https://user-images.githubusercontent.com/1673423/100093663-b371d880-2e0c-11eb-9f2f-7302c2024a4f.png)
![image](https://user-images.githubusercontent.com/1673423/100093731-cb495c80-2e0c-11eb-8f3d-c0f82c9ea2e1.png)

Besides that, `ICollection<T>` s

[2020-11-24 12:29] alexyakunin commented on #186
@devedse hopefully this helps :)

[2020-11-24 13:37] devedse commented on #187
@alexyakunin , wow you're amazing! 😄

Hopefully I'll have some time later today or tomorrow to test everything out.

Are you open for some more feedback for Stl.Fusion? (Shall I make a new issue for that)

[2020-11-24 16:35] Leonardo-Ferreira opened #188 "Exponential growth of buffer size?"
I couldn't help to [notice here](https://github.com/servicetitan/Stl.Fusion/blob/1919aa8ea67fb9437c82fdd9c2844528fbbf2c3b/src/Stl/Collections/MemoryBuffer.cs#L115) that the buffer pool grows exponentially by a factor of 2... isn't that kinda dangerous? I mean, you should be fine for the first 10-12 bits, but after that you will start moving/copying fairly large portions of memory...

Have you cons

[2020-11-24 19:43] alexyakunin commented on #188
I used the usual impl. for variable-sized lists that provides O(1) time complexity (amortized) for Add operation while retaining the same O(1) for indexing. E.g. List<T> in .NET does almost exactly the same; AFAIK it's the best way to do this. Concatenating many buffers is definitely a better option, but you lose indexing perf. in this case. I will have a look at use cases though - and if I don't

[2020-11-24 19:58] alexyakunin commented on #187
Absolutely 👍 As for the issues, if you're fine with Discord, a faster way to resolve question-style topics is to ask q. there first, but this is totally optional. Creating issues is actually better in the long run, since they can be googled :)

[2020-11-24 20:01] devedse commented on #186
Hey @alexyakunin , I added [Body] to the clients and this solved my problem. Thanks for the tips around the IEnumerable for now I just want to make things work as easy as possible but I'll look into this later.

[2020-11-24 21:24] alexyakunin commented on #186
On [FromBody] - maybe it works this way for some param types - I'd rather be explicit about that though...

Anyway, great it's resolved 👍

[2020-11-24 23:06] #186 closed

[2020-11-24 23:07] #187 closed

[2020-11-26 13:14] alexyakunin commented on #188
https://github.com/servicetitan/Stl.Fusion/pull/189

[2020-11-27 21:35] alexyakunin commented on #188
@Leonardo-Ferreira I merged the PR, please check out my comments there. Thanks!

[2020-11-27 21:36] alexyakunin commented on #188
I am closing the issue, but if you feel something still has to changed there, please re-open it again or notify me.

[2020-11-27 21:36] #188 closed

[2020-11-27 21:36] alexyakunin commented on #178
@anhaehne do you think it's fine to close this issue?

[2020-11-27 21:42] anhaehne commented on #178
I haven't had time to look at you latest awnsers but i'm fine closing this issue.

[2020-11-30 08:46] #178 closed

[2020-12-08 11:55] SteveSandersonMS opened #202 "Are the locks and ConfigureAwait calls needed?"
This is a question rather than an issue, so apologies if this is the wrong way to post it.

I was looking at the docs and samples and see a lot of places where they add `lock` statements and chain `ConfigureAwait(false)` onto tasks. Normally this isn't how I'd expect Blazor components to be authored, so wonder if you could clarify the reason. The typical advice we give is:

 * Don't use `Configure

[2020-12-08 13:25] alexyakunin commented on #202
Hi @SteveSandersonMS , I ran a search and found two lock statements in samples, both are in the same type:

![image](https://user-images.githubusercontent.com/1673423/101488694-c7d9c900-3914-11eb-8957-96169bbefd12.png)

The locking here is fully justified because `CounterService` actually can be called from multiple threads. You can open the same page in a few windows to see the counter value it d

[2020-12-08 13:49] alexyakunin commented on #202
Just want to highlight one important thing: most of these samples also work in Blazor WASM mode - even though they use the same code there. And when they do work in this mode, they use Fusion proxies instead of real services, that forward calls to actual services via ASP.NET Core or Fusion's Replicator-Publisher channel.

https://fusion-samples.servicetitan.com/ hosts the "main" set of samples, yo

[2020-12-08 13:50] SteveSandersonMS commented on #202
I see, yes, looks like you're right about the `lock`.

The `ConfigureAwait` calls that first stood out to me are the ones in https://github.com/servicetitan/Stl.Fusion.Samples/blob/master/src/HelloBlazorServer/Pages/Counter.razor, which is screenshotted on the project homepage.

I understand now from your comment above `ComputeAsync` "runs outside of Blazor synchronization context", however I find

[2020-12-08 13:51] alexyakunin commented on #202
Yes, I guess I should just kill `ConfigureAwait` everywhere in samples :)

[2020-12-08 13:52] SteveSandersonMS commented on #202
Yes, and make sure that `ConfigureAwait` is only called on the sync context (via `InvokeAsync`).

[2020-12-08 13:56] alexyakunin commented on #202
As for `ComputeStateAsync`, I thought about this, and honestly, it's easy to marshal the call to Blazor context, but this method is supposed to touch just the state, which is thread-safe, and if it uses something from the component, most likely it's a mistake, because the dependency won't be created for this "something" (and thus no auto-update will happen, etc.).

You're right this is breaking th

[2020-12-08 13:58] alexyakunin commented on #202
Got it.

[2020-12-08 14:15] alexyakunin commented on #202
@SteveSandersonMS just want to add that hearing your thoughts about Fusion on conceptual level would be super valuable too - i.e. this "like KO, but distributed & spawning whatever is needed on demand" aspect.

I definitely value any actionable feedback like above one - and the fact it's coming from #1 Blazor expert makes it extremely valuable. But it's also interesting to hear something regarding

[2020-12-08 15:09] alexyakunin commented on #202
Thought more about `ComputeStateAsync` - yes, it definitely makes sense to invoke it via `InvokeAsync`, so I'll change this + likely, add an option to provide your own delegate instead & flag indicating whether the Blazor sync context is needed for it.

[2020-12-08 16:09] SteveSandersonMS commented on #202
OK cool! My best understanding of this project at a conceptual level is that you're doing distributed reactive computing. That is, it has the reactive concepts of KO/MobX/Vue/etc (observables, computeds, auto dependency tracking), but you've gone to the next level and done it to span multiple servers and clients from a single dependency graph. Some parts of the dependency graph live on servers, so

[2020-12-09 09:37] alexyakunin commented on #202
That's a great description, actually.

Good to know the desire to do something similar was there even in 2010 or so :)

Yes, totally clear. + At that point there was nothing similar to Blazor (Silverlight doesn't count), so the APIs had to be implemented both on JS & .NET, which means there would be noticeably more friction while you use it too.

I'll focus on that :) Thanks a lot, @SteveSanderson

[2020-12-11 05:17] #202 closed

[2020-12-11 08:30] alexyakunin commented on #202
@SteveSandersonMS I closed the issue, though I didn't expect that code on the left won't work:

https://github.com/servicetitan/Stl.Fusion/commit/8d3789ca2b7cb5fac74bc8fa66cb7b97d52bcb80#diff-3cd3f69d47e2d6778c38eae5fb4115baa45fcdc5e8f40fa0d2b3b8c7fff3abda

It's actually unexpected that even though `InvokeAsync` returns `Task`, which is `Task<object>` under the hood, its `Result` is always `null`

[2021-03-15 19:37] Cooksauce opened #250 "Authorization"
In the replicated service scenario, is this going around ASP.NET Core authorization? It appears that when a computed value is re-computed, it wouldn't be sent through the normal authorization handlers that a normal request would go through - am I interpreting that incorrectly?

[2021-03-16 22:26] alexyakunin commented on #250
@Cooksauce yes, you're interpreting this correctly - which is why samples actually don't rely on ASP.NET Core authorization. You can use it in controllers, but you're totally right - when such values are updated, _most likely_ the update requests will be routed via WebSocket channel. The only reason update may go through controller is when the client loses the computed value (i.e. client-side `ICo

[2021-03-16 22:40] alexyakunin commented on #250
For the note, it's intended that you can't rely on ASP.NET Core authorization:

1. Authorization is technically a computation, that triggers either an exception or a regular flow. And if so, it has to be a part of Compute Services too - otherwise e.g. a permission change may not trigger the invalidation automatically.

2. There are a two main reasons ASP.NET Core Web API support was added first:
-

[2021-03-16 22:47] alexyakunin commented on #250
@Cooksauce added a bit more details on that - hopefully this explains why it's done like this.

IMO it's not a compromise, btw - what's done is actually the most robust way to do this.

[2021-03-28 12:05] riesvriend opened #255 "The StateChanged handler in StatefulComponentBase occasionally throws ObjectDisposedException"
I first ran into this issue when modifying the TodoPage.razor, changing the page's livestate to be dependent on multiple layers of Computed methods. It appears that when the blazor component state is being invalidated though the Fusion framework, the  the call to the component's StateHasChanged() is sometimes not scheduled correctly causing this exception.

Exception:
[code]

Call stack
[code]

Il

[2021-03-28 12:53] riesvriend commented on #255
See the comment here: https://github.com/riesvriend/Stl.Fusion255/commit/6789352735dff11956d11f4c00874812d4d4452e#r48806724

[2021-03-28 13:24] riesvriend commented on #255
May be caused by this issue with Blazor https://github.com/dotnet/aspnetcore/issues/22159

[2021-03-29 06:47] alexyakunin commented on #255
@riesvriend hi, I just checked the code, the thread in dotnet/aspnetcore, and googled for anything similar. Here is what I found so far:
- https://stackoverflow.com/questions/64145493/blazor-server-side-fluxor-dispatch-action-on-browser-tab-close

I guess this is the closest match to what's happening in this case. I am pretty sure the following sequence of events leads to this issue:
- component.S

[2021-03-29 06:49] alexyakunin commented on #255
FYI I totally don't mind fixes with `Task.Yield()` - I just don't quite understand why it fixes the issue (even though I read that thread on `StateHasChanged` bug).

[2021-03-29 07:35] riesvriend commented on #255
1. I can't seem to find a this.IsDisposed field. I'll try and re-implement Dispose() with the Dispose pattern, so then I have a local field indicating dispose happened.

2. I will also try to trace the number of re-renders, because an other concern is that they may be excessive if not already in an async continuation. This is the problem raised in https://github.com/dotnet/aspnetcore/issues/22159)

[2021-03-29 07:42] riesvriend commented on #255
I'll also will take a look at AddToRenderQueue() below, as to why/when it synchronously seems to be calling ProcessPendingRender().
[code]

[2021-03-29 10:00] riesvriend commented on #255
No luck on #1. Skipping StateHasChanged when the component is Disposed does not help. The component's Dispose is called but it seems to happen after its renderer is disposed. The renderer itself is only accessible via a private _renderHandle field in the BaseComponent, so can't be checked in the derived component.

![dispose_no_avail](https://user-images.githubusercontent.com/8940018/112820629-135

[2021-03-29 18:24] riesvriend commented on #255
@alexyakunin can you have a look at this [set of changes](https://github.com/riesvriend/Stl.Fusion255/commit/c111fd9821863bd99e71ff252c06e7c2c6db7c76).
The commit is in [branch issue255v2](https://github.com/riesvriend/Stl.Fusion255/tree/issue255v2).
- It reduces the re-render load on the todo page quite a bit.
- The current state status label now refreshes without a full rerender pf the page
- Sc

[2021-03-30 11:36] alexyakunin commented on #255
@riesvriend just looked up the code - could you also explain why `Task IHandleEvent.HandleEventAsync(EventCallbackWorkItem callback, object? arg)` is needed? The rest is clear, I'd be happy to port or merge these changes - thanks!

[2021-03-30 11:37] alexyakunin commented on #255
Ah, I guess I got it - am I right it's unrelated to Fusion, but something you think is logical to introduce as well?

[2021-03-30 11:38] alexyakunin commented on #255
I.e. it prevents re-rendering on events by default, which seems logical to do for Fusion components?

[2021-03-30 11:48] alexyakunin commented on #255
One other q. - have you tried to move `_isDisposed = true` right after "if" statement? I mean, I'd rather put all these checks + suppress the exception vs simply suppressing it...

[2021-03-30 12:09] riesvriend commented on #255
Yes. The original Todopage shows flicker on edits: When you tab out of the updated text box, the event triggers, sends a command to Fusion and then rerenders with the bound value still being the 'old' one that is still in the State. A few ticks later, the fusion state is updated by a server-side push and then the text value flickers back to the newly entered value. So generally, you would not not

[2021-03-31 09:08] alexyakunin commented on #255
@riesvriend sorry, I ended up spending more time to fully understand what's going on.
Check out the branch / PR linked above, please. I think there is a good fix for `ObjectDisposedException`, but I still struggle with re-renders, and I would really appreciate any help here.

The problem is: `Debug.WriteLine($"Rendering {Value.Id}");` is executed 3 (!) times per every title change, not once. And I

[2021-03-31 09:12] alexyakunin commented on #255
Here is the output in the debugger:

[code]

I don't get why Blazor makes `TodoItem` to re-render in this case - i.e. even when its params are still identical to its prev. version...

[2021-03-31 09:12] alexyakunin commented on #255
(to reproduce, just run the sample from this branch under debugger)

[2021-03-31 09:14] alexyakunin commented on #255
https://github.com/servicetitan/Stl.Fusion/pull/257/files#diff-6062b432565004739ebaad0c8751f0bd5e5d82b0b42642a067336939b99e2884R33 - this is the key line that bothers me.

[2021-04-01 07:53] #255 closed

[2021-04-07 21:02] alexyakunin opened #263 "Fusion client is trying to reconnect to a dead publisher for too long"
The log part indicating this:

[code]

Exception:
[code]

[2021-04-07 21:06] alexyakunin commented on #263
To be fixed. For now, a couple comments:
- Attempts to reconnect to a publisher are normal. Though it makes sense to add a test ensuring they'll stop once every replica from this publisher is dead.
- But in this specific case it makes sense to stop immediately once it's clear the publisher is dead - i.e. the response from a server indicates there is no publisher with the specified ID. Publisher ID

[2021-04-13 18:45] alexyakunin commented on #250
Closing this issue - @Cooksauce please feel free to add more questions here or on Discord.

[2021-04-13 18:45] #250 closed

[2021-04-28 08:37] alexyakunin opened #269 "Replace LogLevel / XxxLogLevel with IsLoggingEnabled everywhere"
The option is easy to confuse w/ `MinLogLevel`, though in reality it just enables logging & sets log level to the specified one.

[2021-05-01 19:32] #269 closed

[2021-05-08 00:31] alexyakunin opened #273 "Possible renames"
Hi, I'm thinking of a few renames:

Renames in `Stl.Fusion`:
- `IComputed` -> `IDependency`
- `IComputeService` -> `IFusionService`, `[ComputeMethod]` -> `[FusionMethod]`
- `IReplicaService` -> `IFusionClient`

Overall, above changes will replace "computed" and "replica" keywords that have special meaning in Fusion with seemingly a bit more clear variants.

All related types will be renamed to mat

[2021-05-20 01:35] alexyakunin commented on #273
So for now the conclusion is:
- No renames related to `ICompute` & other Fusion services
- `ServiceAttributeBase` and its descendants will get `Register` prefix.

[2021-05-20 01:35] alexyakunin opened #278 "Add System.Text.Json serializer support"

[2021-05-20 01:35] alexyakunin opened #279 "Add MessagePack serializer support"

[2021-05-20 22:37] alexyakunin commented on #273
Done.

[2021-05-20 22:37] #273 closed

[2021-06-22 19:39] alexyakunin opened #299 "Sign the assemblies that could be signed"
Mostly needed for .NET Framework projects that rely on assembly signing.

Everything except RestEase dependencies (i.e. except Stl.Fusion.Client & Blazor assemblies) can be signed.

[2021-06-22 19:52] #299 closed

[2021-07-27 07:22] alexyakunin commented on #278
Closed in v1.4.3.

[2021-07-27 07:22] #278 closed

[2021-12-25 21:20] timeshift92 opened #388 "async alternate"
excellent library, instead of asynchronous, you didn’t look towards fibers?
see please this repo https://github.com/hyoo-ru/mam_mol

[2021-12-25 21:38] alexyakunin commented on #388
I guess this spam issue has to go.

[2021-12-25 21:38] #388 closed

[2021-12-26 03:39] timeshift92 commented on #388
Sorry if it turned out to be spam, but even dotnet used fibers before, net 4.5 used fibers

[2021-12-26 06:39] timeshift92 opened #389 "[StateHasChangedAsync] System.NullReferenceException: 'Object reference not set to an instance of an object.'"
Hello, how can fix, this error?

[code]

![image](https://user-images.githubusercontent.com/13614530/147400954-e0bb60b0-9258-4893-aa28-334d5d35e3f0.png)

[2021-12-26 07:14] alexyakunin commented on #389
Hi, looks like you're getting this exception from Blazorise.BaseComponent - i.e. makes sense to look its source code, if it's still available, or decompile it.

One important thing, though: looks like it was called from Fusion's helper allowing to call StateHasChanged (protected method) on another component, which normally is ok only if another component is written in a way it expects this - i.e.

[2021-12-26 07:17] alexyakunin commented on #389
In short, if you call StateHasChangedAsync on some other component, you must take into acc. the default behavior / assumptions about StateHasChanged.

[2021-12-26 09:17] timeshift92 commented on #389
i have run your example https://github.com/servicetitan/Stl.Fusion/tree/master/samples/TodoApp,
and did not change anything, when he looked on the stack, he swore at blazorize

[2021-12-26 19:31] alexyakunin commented on #389
I see - will check it out today, prob. Blazorise update.

[2021-12-27 03:06] alexyakunin commented on #388
@timeshift92 I realized it probably was a legit question (based on your other activity). If it's still important, please feel free to ask it on our Discord: https://discord.gg/EKEwv6d ; honestly, I don't know anything about mol, but maybe someone else there does.

[2021-12-27 04:57] alexyakunin commented on #389
@timeshift92 I fixed the issue. I guess you've updated to the latest Fusion version & got one - that's because v2.1 got a number of changes related to `IState` there, and in particular, the initial `IState<T>` value is `default(T)` now rather than the result of a call of parameterless constructor for type `T`. This is what was causing ~ a similar issue (`NullReferenceException`) in most of samples

[2021-12-27 04:57] alexyakunin commented on #389
Besides that, all the samples are now updated to the lastest Fusion.

[2021-12-27 04:58] alexyakunin commented on #389
Please confirm if the issue is gone and I'll close the ticket :)

[2021-12-27 16:32] timeshift92 commented on #389
Everything is fine! Thank you

[2021-12-27 16:32] #389 closed

[2021-12-28 10:33] timeshift92 opened #390 "infinite query loop"
https://github.com/timeshift92/StlUnlimitedRequestBug

![image](https://user-images.githubusercontent.com/13614530/147557355-62354ae9-5539-4643-8578-087fdcae75dc.png)

represent
[code]

[2021-12-29 01:59] alexyakunin commented on #390
Hi, I guess this is what you mean:
![image](https://user-images.githubusercontent.com/1673423/147620243-07257e0a-2392-4689-be80-639a0d9c7346.png)

[2021-12-29 02:00] alexyakunin commented on #390
Hi, I guess this is what you mean:
![image](https://user-images.githubusercontent.com/1673423/147620298-f2a56de1-0992-4b52-aea0-d68b175cda68.png)

[2021-12-29 02:03] alexyakunin commented on #390
Just sharing how I live diagnose this :)

![image](https://user-images.githubusercontent.com/1673423/147620411-694b2c2d-f69a-42cb-9722-85ec88919bdd.png)

As you see, 200 OK response here is because there is a default route that always directs you to index / _Host.cshtml, so the controller isn't used or resolved.

[2021-12-29 02:05] alexyakunin commented on #390
And if you go to Swagger page, you'll see why:

![image](https://user-images.githubusercontent.com/1673423/147620575-8ab661c8-d17d-4682-b8c3-adfba10fe980.png)

[2021-12-29 02:07] alexyakunin commented on #390
The fix is to give endpoints proper names in the client definition interface:

[code]

[2021-12-29 02:09] alexyakunin commented on #390
![image](https://user-images.githubusercontent.com/1673423/147620768-7db56385-4fdb-4abf-8af5-f178c51a2544.png)

Works fine after this fix :)

[2021-12-29 02:10] alexyakunin commented on #390
@timeshift92 please close the report if you find it works fine :)

[2021-12-29 03:09] timeshift92 commented on #390
I didn't understand right away, thanks, everything is fine =)

[2021-12-29 03:09] #390 closed

[2022-01-02 15:28] timeshift92 commented on #279
looks  good
https://github.com/neuecc/MessagePack-CSharp#performance

[2022-01-27 11:12] seertenedos opened #408 "blazor wasm only (no server side blazor) can't get auth schemes"
I based my code on a new dotnet 6 wasm blazor project and as far as i can tell i implemented everything needed on both side trying my hardest to work out the parts that were serverside blazor in the samples vs wasm blazor and got the an app mostly working very similar to the blazor sample but the auth dropdown does not work because the schema list is empty.  looking at the sample since it ran the

[2022-02-05 00:08] alexyakunin commented on #408
@seertenedos please check out `SignInDropdown.razor` from TodoApp sample. Here is what you need to get the list of schemas both on the client & on the server:

![image](https://user-images.githubusercontent.com/1673423/152619257-56b6077b-a541-4945-9b59-047d207adf59.png)

[2022-02-05 00:09] alexyakunin commented on #408
Also, sorry for noticing this pretty late. Please LMK if it helps - I'll close the issue once you confirm this solves the problem.

[2022-04-01 20:57] alexyakunin commented on #408
Ok, I guess I am closing this issue...

[2022-04-01 20:57] #408 closed

[2022-05-16 06:18] BokhodirUrinboev commented on #8
Good evening can't we make custom exception middleware and leave it to programmer handle the rest of it
We just need to make initial structure for in server side register it in program.

`app.UseMiddleware<ErrorHandlerMiddleware>();`

For example we can use some class for custom exception type

`    public class HttpResponseException
    {
        public int? status { get; }
        public object?

[2022-05-16 06:52] BokhodirUrinboev commented on #8
And we should probably add it to the template

[2022-06-01 02:12] afilatov-st opened #467 "Exception when using together with Moq 4.18.1"
I suspect it may be caused by the fact that Moq 4.18.1 uses the new Castle.Core (DynamicProxy) version 5.0.0, while Stl uses 4.4.1 (the issue appears when upgrading Moq 4.16.1 to 4.18.1).

Code causing exception:
[code]

Stacktrace:
[code]

[2022-06-01 15:05] alexyakunin commented on #467
Yep, we stick to the prev version pf Moq because of this.

Castle.Core v5 requires some work - they've made a buch of types I used ot inherit generators from private.

[2022-06-02 05:29] alexyakunin commented on #467
@afilatov-st guys, just curious, do you want to invest a bit & migrate from Castle.Core to Roslyn source generators everywhere? There is an initial (third-party) support for generating Controllers & ClientDefs already, though IMO it makes sense to migrate everything. My guess is that we can do all of this in couple weeks max.

[2022-06-02 05:33] alexyakunin commented on #467
The main benefits of this are:
- No more need to worry about all the plumbing with controllers & ClientDefs
- Likely, a good performance boost: Castle is boxing every argument, so switching to Tuple-like type for this could let us kill a few allocations per call.

[2022-06-02 19:48] afilatov-st commented on #467
@alexyakunin can you point to some commits where it was already migrated, just to have an understanding...?

[2022-06-07 06:25] alexyakunin opened #470 "Don't mask HTTP errors in replica services"

[2022-06-14 21:16] wdichler commented on #467
I would like help with this issue too.

[2022-06-20 13:15] alexyakunin commented on #467
@afilatov-st nothing is migrated just yet, I ended up moving the generators to an isolated project for now. Will get back to this later this week (was on a trip, sorry).

[2022-06-20 13:16] alexyakunin commented on #467
Will share further updates shortly.

[2022-06-30 01:20] alexyakunin commented on #467
@afilatov-st v3.0.8 is updated to the latest Castle.Core, so this problem should be solved now.

[2022-07-02 06:58] alexyakunin commented on #467
Confirm the problem is gone, closing the issue.

[2022-07-02 06:58] #467 closed

[2022-07-05 07:48] alexyakunin opened #478 "Improve test coverage"
Here is what you can use as a guideline: https://app.codecov.io/gh/servicetitan/Stl.Fusion

If you end up doing this, please mention this issue in PRs.

[2022-07-05 07:53] alexyakunin commented on #279
What's remaining here:
- Binary message format support in `WebSocketChannel` / `WebSocketChannelProvider` (used by the client) / `WebSocketServer` (used on the server side).

I guess the implementation implies we rename `SerializerXxx` to `TextSerializerXxx` there, add `ByteSerializerXxx`, and finally, + add an option controlling preferred message format (binary or text) on the client side.

[2022-07-05 08:09] JoshuaNitschke commented on #279
Per our conversation on Discord, I am going to take a stab at this.

[2022-07-29 06:56] dimohy opened #488 "A DateTime value was incorrectly passed to the server in Korean."
in Korean,

The DateTime is sent to the server like this:

[code]
![image](https://user-images.githubusercontent.com/58620778/181700358-004935f1-2b3f-4904-aec6-362e92d039bc.png)

Looks like I'll have to send it like this:

2022-07-29T00:00:00

This value is the log delivered to 'HelloBlazorHybrid' 'Fetch Data' of 'Stl.Fusion.Samples' and can be checked:

[code]

It looks like it should be delivere

[2022-08-01 19:34] #488 closed

[2022-08-01 19:38] alexyakunin commented on #488
So overall, this is the underlying cause: https://github.com/canton7/RestEase/issues/140

[2022-08-01 19:39] alexyakunin commented on #488
There are two places in Fusion where RestEase client is created, I fixed both: https://github.com/servicetitan/Stl.Fusion/commit/24fee76eb60a99234171189a9bb806c7f6440a5e

[2022-09-29 11:40] alexyakunin commented on #263
Fixed in v3.9.1.

[2022-09-29 11:40] #263 closed